<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <link rel="stylesheet" href="../shared/common.css" />
    <link rel="stylesheet" href="../shared/assets/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="status.css" />
    <script src="status.js" defer></script>
  </head>
  <body>
    <i id="status-icon" class="fas fa-circle ready"></i>
    <span id="status-text">Ready</span>
  </body>
</html>